<ion-content>

	<ion-header>
		<ion-toolbar>
			<ion-title>Current Game</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid>
		<ion-row>
			<ion-col>
				<span class="grid-text grid-label">
					Opponent
				</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">
					{{ opponentName }}
				</span>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<span class="grid-text grid-label">
					Time Control
				</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">
					{{ timeControl }}
				</span>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<span
					class="grid-text grid-label">
					Color
				</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">
					{{ color }}
				</span>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-header>
		<ion-toolbar>
			<ion-title>
				Game Result: {{ gameResult }}
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button
					(click)="setWin()"
					color="success"
					expand="full"
					size="large">
					Win
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button
					(click)="setLose()"
					color="danger"
					expand="full"
					size="large">
					Lose
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button
				  (click)="setDraw()"
					color="primary"
					expand="full"
					size="large">
					Draw
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-header>
		<ion-toolbar>
			<ion-title>
				Actions:
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button
					(click)="saveGame()"
					color="medium"
					class="appButton"
					id="saveGame"
					size="default"
					expand="full">
					Save This Game
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button
					routerLink="/home"
					color="medium"
					class="appButton"
					id="saveGame"
					size="default"
					expand="full">
					New Game
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button
					routerLink="/my-games"
					color="medium"
					class="appButton"
					id="myGames"
					size="default"
					expand="full">
					View Games
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-back-button
		defaultHref="home"
		id="backButton">
		Go Back
	</ion-back-button>

</ion-content>
