<ion-content>

	<ion-header>
		<ion-toolbar>
			<ion-title>Current Game</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid>
		<ion-row>
			<div class="timer-value">
				0:00
			</div>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button expand="full" size="large">Start Timer</ion-button>
			</ion-col>
			<ion-col>
				<ion-button expand="full" size="large">Stop Timer</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-grid>

		<ion-row>
			<ion-col>
				<span class="grid-text grid-label">Opponent</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">opponent goes here</span>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<span class="grid-text grid-label">Time Control</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">time control</span>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<span class="grid-text grid-label">Color</span>
			</ion-col>
			<ion-col>
				<span class="grid-text">black or white</span>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button
					color="success"
					expand="full"
					size="large">
					Win
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button
					color="danger"
					expand="full"
					size="large">
					Lose
				</ion-button>
			</ion-col>
			<ion-col>
				<ion-button
					color="primary"
					expand="full"
					size="large">
					Draw
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-back-button defaultHref="home" id="backButton">
		Go Back
	</ion-back-button>

</ion-content>
