<ion-header>
  <ion-toolbar>
    <ion-title>Games Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-list>
      <ion-radio-group (ionChange)="updateFilters()"
          value="chosenColor" [(ngModel)]="chosenColor">
        <ion-list-header>
          Color: {{ chosenColor }}
        </ion-list-header>

        <ion-item>
          <ion-label>Any</ion-label>
          <ion-radio value="Any"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Black</ion-label>
          <ion-radio value="Black"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>White</ion-label>
          <ion-radio value="White"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <div>
    <ion-list>
      <ion-radio-group (ionChange)="updateFilters()"
          value="chosenTimeControl" [(ngModel)]="chosenTimeControl">
        <ion-list-header>
          Time Control: {{ chosenTimeControl }}
        </ion-list-header>

        <ion-item>
          <ion-label>Any</ion-label>
          <ion-radio value="Any"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Classical</ion-label>
          <ion-radio value="Classical"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Blitz</ion-label>
          <ion-radio value="Blitz"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>

  <mbsc-form>
  <mbsc-form-group collapsible>

      <mbsc-form-group-title>
        <ion-label>Wins</ion-label>
        <ion-note slot="start" color="success">
          <h2>{{ gamesWon.length }}</h2>
        </ion-note>
      </mbsc-form-group-title>


          <mbsc-form-group-content>
            <ion-row>
              <ion-col>
                <b>Time control</b>
              </ion-col>
              <ion-col>
                <b>Opponent</b>
              </ion-col>
              <ion-col>
                <b>Color</b>
              </ion-col>
              <ion-col>
                <b>Result</b>
              </ion-col>
              <ion-col>
                <b>Date</b>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>

              <ion-row *ngFor="let game of gamesWon">
                <ion-col>
                  {{ game.timeControl }}
                </ion-col>
                <ion-col>
                  {{ game.opponentName }}
                </ion-col>
                <ion-col>
                  {{ game.color }}
                </ion-col>
                <ion-col>
                  {{ game.gameResult }}
                </ion-col>
                <ion-col>
                  {{ game.dateCreated | date:'shortDate' }}
                </ion-col>
                <ion-col>
                  <ion-icon
                    name="trash"
                    (click)="deleteGame(game)">
                  </ion-icon>
                </ion-col>
              </ion-row>

          </mbsc-form-group-content>

      </mbsc-form-group>

  <mbsc-form-group collapsible>
      <mbsc-form-group-title>
        <ion-label>Losses</ion-label>
        <ion-note slot="start" color="danger">
          <h2>{{ gamesLost.length }}</h2>
        </ion-note>
      </mbsc-form-group-title>
          <mbsc-form-group-content>
            <ion-row>
              <ion-col>
                <b>Time control</b>
              </ion-col>
              <ion-col>
                <b>Opponent</b>
              </ion-col>
              <ion-col>
                <b>Color</b>
              </ion-col>
              <ion-col>
                <b>Result</b>
              </ion-col>
              <ion-col>
                <b>Date</b>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let game of gamesLost">
              <ion-col>
                {{ game.timeControl }}
              </ion-col>
              <ion-col>
                {{ game.opponentName }}
              </ion-col>
              <ion-col>
                {{ game.color }}
              </ion-col>
              <ion-col>
                {{ game.gameResult }}
              </ion-col>
              <ion-col>
                {{ game.dateCreated | date:'shortDate' }}
              </ion-col>
              <ion-col>
                <ion-icon
                  name="trash"
                  (click)="deleteGame(game)">
                </ion-icon>
              </ion-col>
            </ion-row>

          </mbsc-form-group-content>

      </mbsc-form-group>

<mbsc-form-group collapsible>
    <mbsc-form-group-title>
      <ion-label>Draws</ion-label>
      <ion-note slot="start" color="warning">
        <h2>{{ gamesDrawn.length }}</h2>
      </ion-note>
    </mbsc-form-group-title>
        <mbsc-form-group-content>
          <ion-row>
            <ion-col>
              <b>Time control</b>
            </ion-col>
            <ion-col>
              <b>Opponent</b>
            </ion-col>
            <ion-col>
              <b>Color</b>
            </ion-col>
            <ion-col>
              <b>Result</b>
            </ion-col>
            <ion-col>
              <b>Date</b>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>

            <ion-row *ngFor="let game of gamesDrawn">
              <ion-col>
                {{ game.timeControl }}
              </ion-col>
              <ion-col>
                {{ game.opponentName }}
              </ion-col>
              <ion-col>
                {{ game.color }}
              </ion-col>
              <ion-col>
                {{ game.gameResult }}
              </ion-col>
              <ion-col>
                {{ game.dateCreated | date:'shortDate' }}
              </ion-col>
              <ion-col>
                <ion-icon
                  name="trash"
                  (click)="deleteGame(game)">
                </ion-icon>
              </ion-col>
            </ion-row>

        </mbsc-form-group-content>
    </mbsc-form-group>
</mbsc-form>

<ion-grid>
  <ion-row>

    <ion-col>
      <ion-button
      routerLink="/home"
      expand="full"
      >
        Start New Game
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-back-button defaultHref="home">
        Go Back
      </ion-back-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
