<ion-header>
  <ion-toolbar>
    <ion-title>Games Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <ion-item>
    <ion-label>Win</ion-label>
    <ion-note slot="start" color="success">{{ gamesWon }}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Lose</ion-label>
    <ion-note slot="start" color="danger">{{ gamesLost }}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Draw</ion-label>
    <ion-note slot="start" color="warning">{{ gamesDrawn }}</ion-note>
  </ion-item>

</ion-list>

<ion-header>
  <ion-toolbar>
    <ion-title>Games Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-item *ngFor="let game of myGames">

    <ion-row>
      <ion-col size="3">
        Time Control: {{ game.timeControl }}
      </ion-col>

      <ion-col size="3">
        Opponent: {{ game.opponentName }}
      </ion-col>

      <ion-col size="3">
        Color: {{ game.color }}
      </ion-col>

      <ion-col size="3">
        Result: {{ game.gameResult }}
      </ion-col>
    </ion-row>

  </ion-item>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-back-button defaultHref="home">
        Go Back
      </ion-back-button>
    </ion-col>

    <ion-col>
      <ion-button (click)="clearGames()">
        Clear Games
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button routerLink="/home">
        Start New Game
      </ion-button>
    </ion-col>

  </ion-row>
</ion-grid>


</ion-content>
