<ion-header>
  <ion-toolbar>
    <ion-title>Games Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mbsc-form>
  <mbsc-form-group collapsible>

      <mbsc-form-group-title>
        <ion-label>Wins</ion-label>
        <ion-note slot="start" color="success">
          <h2>{{ gamesWon.length }}</h2>
        </ion-note>
      </mbsc-form-group-title>

          <mbsc-form-group-content>
            <ion-row>
              <ion-col>
                <b>Time control</b>
              </ion-col>
              <ion-col>
                <b>Opponent</b>
              </ion-col>
              <ion-col>
                <b>Color</b>
              </ion-col>
              <ion-col>
                <b>Result</b>
              </ion-col>
            </ion-row>

              <ion-row *ngFor="let game of gamesWon">
                <ion-col>
                  {{ game.timeControl }}
                </ion-col>
                <ion-col>
                  {{ game.opponentName }}
                </ion-col>
                <ion-col>
                  {{ game.color }}
                </ion-col>
                <ion-col>
                  {{ game.gameResult }}
                </ion-col>
              </ion-row>

          </mbsc-form-group-content>

      </mbsc-form-group>

  <mbsc-form-group collapsible>
      <mbsc-form-group-title>
        <ion-label>Losses</ion-label>
        <ion-note slot="start" color="danger">
          <h2>{{ gamesLost.length }}</h2>
        </ion-note>
      </mbsc-form-group-title>
          <mbsc-form-group-content>
            <ion-row>
              <ion-col>
                Time control
              </ion-col>
              <ion-col>
                Opponent
              </ion-col>
              <ion-col>
                Color
              </ion-col>
              <ion-col>
                Result
              </ion-col>
            </ion-row>

              <ion-row *ngFor="let game of gamesLost">
                <ion-col>
                  {{ game.timeControl }}
                </ion-col>
                <ion-col>
                  {{ game.opponentName }}
                </ion-col>
                <ion-col>
                  {{ game.color }}
                </ion-col>
                <ion-col>
                  {{ game.gameResult }}
                </ion-col>
              </ion-row>

          </mbsc-form-group-content>

      </mbsc-form-group>

<mbsc-form-group collapsible>
    <mbsc-form-group-title>
      <ion-label>Draws</ion-label>
      <ion-note slot="start" color="warning">
        <h2>{{ gamesDrawn.length }}</h2>
      </ion-note>
    </mbsc-form-group-title>
        <mbsc-form-group-content>
          <ion-row>
            <ion-col>
              Time control
            </ion-col>
            <ion-col>
              Opponent
            </ion-col>
            <ion-col>
              Color
            </ion-col>
            <ion-col>
              Result
            </ion-col>
          </ion-row>

            <ion-row *ngFor="let game of gamesDrawn">
              <ion-col>
                {{ game.timeControl }}
              </ion-col>
              <ion-col>
                {{ game.opponentName }}
              </ion-col>
              <ion-col>
                {{ game.color }}
              </ion-col>
              <ion-col>
                {{ game.gameResult }}
              </ion-col>
            </ion-row>

        </mbsc-form-group-content>
    </mbsc-form-group>
</mbsc-form>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
      (click)="clearGames()"
      expand="full"
      >
        Clear Games
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button
      routerLink="/home"
      expand="full"
      >
        Start New Game
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-back-button defaultHref="home">
        Go Back
      </ion-back-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
