<ion-list>
  <ion-list-header>
    <ion-label id="homePageTitle">
      TCA-Chess
    </ion-label>
  </ion-list-header>

  <img
    src="assets/chesspieces.jpg"
    alt="Black and white kings"
    id="chessPieces" />

  <ion-item>
    <ion-label>My Opponent:</ion-label>
    <ion-input placeholder="Enter opponent's name"
      [(ngModel)]="opponentName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Playing as...</ion-label>
    <ion-select placeholder="White"
        [(ngModel)]="color">
      <ion-select-option value="White">White</ion-select-option>
      <ion-select-option value="Black">Black</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Time Control</ion-label>
    <ion-select value="Classical"
        okText="Okay"
        cancelText="Dismiss"
        [(ngModel)]="timeControl">
      <ion-select-option value="Classical">Classical</ion-select-option>
      <ion-select-option value="Blitz">Blitz</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-button
  (click)="goToStartGame()"
  color="success"
  class="appButton"
  id="startGame"
  size="default">
  Start Game
</ion-button>

<ion-button
  routerLink="/my-games"
  color="primary"
  class="appButton"
  id="myGames"
  size="default">
  View Game Details
</ion-button>
